@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:wght@300&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #fcfcfc;
    background-color: #fcfcfc;
    background-color: #fdfcfe;
    background-color: #f3eefa;
    background-color: #f3eefa;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #000;
   
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    font-family: 'Anton',sans-serif;
    max-width: 900;
    padding: 20px 30px;
    width: auto;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
    font-size: 2rem;
}
.long-quote{
    font-size: 2rem;
}
.fa-quote-left{
    font-size: 4rem;
}
.quote-author{
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
}

@media (max-width:500px) {
    .quote-container{
        margin: auto 10px;
        

    }
    .quote-text{
        font-size: 2rem;
    }
}